node_modules/
.env
.env.dev
package-lock.json
credentials.json.json
logs/
temp_audio/
*.log
tmp_cloud/
data_exports/
config/
bin/
obj/
.firebase/
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules
backups/
*.zip
